<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">EDITAR PRODUTO</h4>
          </div>
          <div class="card-body">
            <form #productForm="ngForm" *ngIf="product">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Nome"
                      [(ngModel)]="product.name"
                      #name="ngModel"
                      name="name"
                      minlength="3"
                      type="text"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Preço"
                      [(ngModel)]="product.price"
                      name="name"
                      type="number"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input
                      matInput
                      placeholder="Descrição"
                      [(ngModel)]="product.description"
                      name="description"
                      minlength="3"
                      type="text"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field appearance="example-full-width">
                    <mat-label>Selecione uma categoria</mat-label>
                    <mat-select [(ngModel)]="product.id_category">
                      <mat-option
                        *ngFor="let category of categories"
                        [value]="category"
                        >{{ category.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <button
                (click)="update()"
                mat-raised-button
                class="btn btn-success pull-right"
              >
                SALVAR
              </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
