<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Categorias</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>NOME</th>
                </thead>
                <tbody>
                  <tr *ngFor="let category of categories">
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>
                      <i
                        (click)="deleteCategory(category.id)"
                        type="button"
                        class="material-icons"
                        >delete</i
                      >
                      <i
                        [routerLink]="['/category/edit', category.id]"
                        type="button"
                        class="material-icons"
                        >edit</i
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      href="#"
      routerLink="/category/new"
      mat-raised-button
      class="btn btn-success pull-right"
      >NOVA CATEGORIA</a
    >
  </div>
</div>
