<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let command of commands" class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <h5>
              <b>MESA {{ command.table.number }}</b>
            </h5>
            <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
          </div>
          <div class="card-body">
            <h4 class="card-title">
              Total: R$ {{ formatValueCommand(command.value) }}
            </h4>
            <!-- <p class="card-category">
              <span class="text-success"
                ><i class="fa fa-long-arrow-up"></i> 55%
              </span>
              increase in today sales.
            </p> -->
            <button
              mat-raised-button
              class="btn btn-info btn-block"
              data-toggle="modal"
              data-target="#buy"
            >
              <b>FECHAR MESA</b>
            </button>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> Atualizado 4 minutes
              atrás
            </div>
          </div>
        </div>
        <div
          class="modal modal-angular fade"
          id="buy"
          tabindex="-1"
          role="dialog"
          aria-labelledby="myModalLabel"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="margin-top text-center">
                  <b>MESA {{ command.id_table }}</b>
                </h4>
                <br />
                <h5 style="margin: 0">Valor:</h5>
                <input matInput placeholder="R$ {{ command.value }}" disabled />
                <br />
                <br />
                <h5>Tipo de pagamento</h5>
                <div class="row">
                  <div style="margin-left: 15px; margin-right: 9px">
                    <input
                      type="radio"
                      [(ngModel)]="payment"
                      value="debito"
                      required
                    />
                    DÉBITO
                  </div>

                  <div style="margin-right: 9px">
                    <input
                      type="radio"
                      [(ngModel)]="payment"
                      value="credito"
                      required
                    />
                    CRÉDITO
                  </div>
                  <div>
                    <input
                      type="radio"
                      [(ngModel)]="payment"
                      value="dinheiro"
                      required
                      id="dinheiro"
                    />
                    DINHEIRO
                  </div>
                </div>
                <br />
                <div *ngIf="payment === 'dinheiro'">
                  <h5 style="margin: 0">Digite a valor:</h5>
                  <input [(ngModel)]="moneyValue" matInput />
                  <br />
                  <br />
                  <h5 style="margin: 0">Troco:</h5>
                  <input
                    matInput
                    placeholder="{{ moneyValue - command.value }} "
                  />
                </div>

                <br />
                <button
                  (click)="closeTable(command.id_table, command.id)"
                  mat-raised-button
                  class="btn btn-success btn-block"
                >
                  <b>FECHAR MESA</b>
                </button>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
