.circulo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
    /* margin: 50px; */
    }

    .circulo2 {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: red;
        /* margin: 50px; */
        }