<aside class="sidebar shadow-sm">
  <div
    class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3"
  >
    <div class="picture-wrapper mb-4">
      <div class="user-picture m-auto">
        <img src="./assets/img/grupo.png" class="img-fluid" alt="" />
      </div>
    </div>
    <div class="profile-details text-center pb-4">
      <p class="mb-0 text-uppercase name">GRUPO 8</p>
      <br />
      <p class="text-uppercase role">Vanderson Mantovani</p>
      <p class="text-uppercase role">Rodrigo Zbytkowski</p>
      <p class="text-uppercase role">Alexandre Stephani</p>
    </div>
  </div>
  <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
    <input
      type="search"
      class="form-control rounded-pill"
      name="search"
      placeholder="Search ..."
    />
  </div>
  <nav class="sidebar-menu pt-3 pb-3">
    <div class="menu-header mt-3 mb-2">Menu</div>
    <ul class="menu-items">
      <li>
        <a href="#" routerLink="/clients" routerLinkActive="active">
          <i class="fas fa-user-alt"></i>
          <span>Clientes</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/products" routerLinkActive="active">
          <i class="fa fa-align-center"></i>
          <span>Produtos</span>
        </a>
      </li>
      <li>
        <a href="#" routerLink="/orders" routerLinkActive="active">
          <i class="fas fa-shopping-cart"></i>
          <span>Pedidos</span>
        </a>
      </li>
    </ul>
    <div class="menu-header mt-4 mb-4">Github Repo</div>
    <div class="view-source mb-3">
      <a
        href="https://github.com/Ale-Ste/grupo-08-webdev-front"
        target="_blank"
        class="btn btn-block btn-lightning rounded-0"
        >Front-End</a
      >
    </div>
    <div class="view-source mb-3">
      <a
        href="https://github.com/Ale-Ste/grupo-08-webdev-back"
        target="_blank"
        class="btn btn-block btn-lightning rounded-0"
        >Back-End</a
      >
    </div>
  </nav>
</aside>
