<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Usuários</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>NOME</th>
                  <th>EMAIL</th>
                  <th>ADMIN</th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.is_admin }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      href="#"
      routerLink="/user/new"
      mat-raised-button
      class="btn btn-success pull-right"
      >NOVO USUÁRIO</a
    >
  </div>
</div>
